{{ description }}
<form action="/checkout/charge" method="POST">
  <input type="hidden" name="amount" value="{{ amount }}">
  <input type="hidden" name="payment_type" value="{{ payment_type }}">
  <input type="hidden" name="entity_type" value="{{ entity_type }}">
  <input type="hidden" name="entity_id" value="{{ entity_id }}">
  <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{ data_key }}"
      data-amount="{{ amount }}"
      data-email="{{ email }}"
      data-name="{{ org_name }}"
      data-description="{{ data_description }}"
      data-image="{{ logo }}"
      data-locale="auto"
      data-label="{{ button_label }}"
      {% if data_zip_code %}
        data-zip-code="true"
      {% endif %}
      >
  </script>
</form>
